<%= form_for(@packing) do |f| %>
  <% if @packing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@packing.errors.count, "error") %> prohibited this packing from being saved:</h2>

      <ul>
      <% @packing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
