<%= form_for(@teststandard) do |f| %>
  <% if @teststandard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teststandard.errors.count, "error") %> prohibited this teststandard from being saved:</h2>

      <ul>
      <% @teststandard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
